<header class="flex flex-col items-center text-center bg-black text-white pt-2 sm:justify-evenly sm:py-4 sm:flex-row sm:space-x-14 sm:pl-3">
    <div>
        <h1>Marraige Hall</h1>
    </div>
    <div>
        <ul class="flex flex-col sm:flex-row sm:space-x-6 ">
            <li><a class="hover:underline " href="/home">Home</a></li>
            <li><a class="hover:underline " href="/booking">Booking</a></li>
            <li><a class="hover:underline " href="/res-booking">Reserved Booking</a></li>
        </ul>
    </div>
    <div>
        <a href="/" class="bg-black text-white hover:text-black hover:bg-white px-2 py-1 rounded-xl">LogOut</a>
    </div>
</header>