
    <%-  include('./layouts/header') %>
    <%-  include('./layouts/navbar') %>
    <main class="tayy bg-center bg-cover bg-no-repeat py-[500px]">
        <div class="text-center mx-10
        ">
            <h1 class="text-4xl font-bold mb-2">Welcome Sir!</h1>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem earum, ipsum culpa architecto, officia nisi nemo aliquam expedita, at ut praesentium doloribus libero numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quos libero officiis, distinctio ab repudiandae maxime hic earum aliquid nam suscipit beatae, iusto unde aliquam labore cumque. Nesciunt, nihil illo? Est rem commodi mollitia assumenda beatae!</h4>
        </div>
        <div class="flex justify-center mt-6">
            <a href="/booking" class="bg-white text-black hover:bg-black hover:text-white px-4 py-2 rounded-lg text-xl">Book Your Reservation Now!</a>
        </div>

    </main>

    <%-  include('./layouts/footer') %>